# PostgreSQL (producción)
# DATABASE_URL="postgresql://user:password@localhost:5432/ecommerce"
# SQLite (desarrollo)
DATABASE_URL="file:./dev.db"
JWT_SECRET="cambia-esto-en-produccion"
JWT_EXPIRES_IN="1d"
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"
PORT=3000
